* {
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 232, 232);
    font-family: poppins;
}

/* .page-container{
    margin: 10px auto;
    border-radius: 20px;
    border: 3px solid grey;
    padding: 20px;
    background-color: rgb(238, 213, 213);
    box-shadow: 0px 2px 10px 5px #8a8888;
} */


/* nav */

.main-nav {
    height: 75px;
    margin: 0px auto 30px;
    background: linear-gradient(90deg, rgba(255, 141, 129, 1) 0%, rgba(237, 177, 117, 1) 61%, rgba(255, 227, 150, 1) 100%);
    border-radius: 37px;
    padding-inline: 120px;
    color: #ffffff;
    font-size: 1.3rem;
}

.nav-content ul>* {
    margin-inline-end: 60px;
}


/* editor */

.editor {
    visibility: hidden;
}

canvas, .control-box {
    margin-top: 10px;
    /* box-shadow: 1px 10px 0 rgba(78, 78, 78, .2), inset 0 10px 0 rgba(78, 78, 78, .3); */
    box-shadow: 0px 0px 5px 5px #c0b9b9;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.4);
}

.control-box {
    width: 500px;
    height: 500px;
    padding: 25px 40px;
}

.control-box input {
    width: 26.2rem;
    height: 60px;
    box-shadow: 1px 4px 0 #a6aaaf, inset 0 5px 0 #ffffff;
    border-radius: 28px;
    background-color: #ffffff;
    font-family: poppins;
    font-size: 1.56rem;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}


/* gallery */

.search-container {
    width: 500px;
    height: 70px
}

.search-field {
    width: 100%;
    height: 50px;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
    cursor: pointer;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.gallery-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

img {
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 2px 15px 5px #ffffff;
    cursor: pointer;
}

img:hover{
    box-shadow: 0px 2px 15px 5px #5e5c5c;
}