* {
    box-sizing: border-box;
}

body{
    background-color: rgb(197, 196, 196);
}

.main-nav {
    height: 75px;
    background: linear-gradient(90deg, rgba(255, 141, 129, 1) 0%, rgba(237, 177, 117, 1) 61%, rgba(255, 227, 150, 1) 100%);
    border-radius: 37px;
    padding-inline: 120px;
}

.nav-content ul>*{
    margin-inline-end: 60px;
}
