* {
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 232, 232);
    font-family: poppins;
}


/* nav */

.main-nav {
    height: 75px;
    margin: 0px auto 30px;
    background: linear-gradient(90deg, rgba(255, 141, 129, 1) 0%, rgba(237, 177, 117, 1) 61%, rgba(255, 227, 150, 1) 100%);
    border-radius: 37px;
    padding-inline: 90px;
    color: #ffffff;
    font-size: 1.3rem;
}

.logo img {
    height: 50px;
    width: 200px;
}

.nav-content ul>* {
    margin-inline-end: 35px;
    font-size: 1.2em;
    cursor: pointer;
}

.nav-content ul>*:hover {
    color: rgb(0, 0, 0);
}

.btn-menu, .btn-close-menu {
    background-color: inherit;
    color: white;
    border: none;
    font-size: 1.7em;
    cursor: pointer;
    /* display: none; */
}


/* editor */

.editor {
    /* display: none; */
    visibility: hidden;
    /* color: #f68699; */
}

/* .canvas-container {
    width: 500px;
    height: 500px;
  } */

canvas, .control-box {
    margin-top: 10px;
    box-shadow: 0px 0px 5px 5px #c0b9b9;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.4);
}

/* .control-box {
    width: 500px;
    height: 500px;
    padding: 25px 40px;
} */

.control-box .text-line {
    width: 100%;
    height: 60px;
    box-shadow: 1px 4px 0 #a6aaaf, inset 0 5px 0 #ffffff;
    border-radius: 28px;
    background-color: #ffffff;
    font-family: poppins;
    font-size: 1.56rem;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.line-control-btns {
    width: 300px;
    margin: auto;
    padding: 20px;
}

.line-design-btns>* {
    margin: 5px 20px;
}

.btn, .color-input {
    margin-inline: 10px;
    border: none;
    width: 56px;
    height: 51px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.switch-lines {
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.add-line {
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}


.remove-line {
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}

.line-design-btns {
    width: 80%;
    height: 150px;
    border-radius: 15px;
    background-color: rgb(228, 171, 171);
    padding: 20px;
}

.color {
    display: inline-block;
    position: relative;
    height: 51px;
    margin-inline: 0;
}

.color-input {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}


.btn img {
    object-fit: cover;
    width: 30px;
    height: 30px;
}

.font-input {
    width: 100px;
    font-size: 1.1em;
}

.actions {
    width: 100%;
}

.download, .share {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 120px;
    height: 40px;
    color: white;
    font-size: 1.1em;
    box-shadow: 1px 5px 0 #040566, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #1d20cf 0%, #1d20cf 1%, #1d20cf 100%);
}

.share-container {
    margin: auto;
    width: 150px;
}

.share {
    /* display: inline-block; */
    text-decoration: none;
    box-shadow: 1px 5px 0 #32035d, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #8e1dcf 0%, #8e1dcf 1%, #8e1dcf 100%);
    /* user-select: none; */
}

.share-container a {
    margin-top: 25px;
    color: black;
    text-align: center;
}


.emojis {
    margin: auto;
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: rgb(224, 137, 137);
    padding: 20px;
}

.emojis ul>* {
    font-size: 2.5em;
    padding: 10px;
}

.emojis ul>*:hover {
    cursor: pointer;
}

/* gallery */

.gallery {
    border-radius: 30px;
    padding: 30px;
    background-color: rgb(228, 171, 171);
}

.search-container {
    width: 50%;
    height: 70px
}

.search-field {
    width: 100%;
    height: 50px;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
    cursor: pointer;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.gallery-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}

.gallery-container img {
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 2px 15px 5px #ffffff;
    cursor: pointer;
}

.gallery-container img:hover {
    box-shadow: 0px 2px 15px 5px #5e5c5c;
}