/* moblie */

@media (max-width: 740px) {

    .main-nav {
        padding-inline: 30px;
        margin: 0px 10px 5px;
        font-size: 1.2rem;
    }

    .logo img {
        height: 40px;
        width: 160px;
    }

    .main-nav ul {
        background-color: rgba(245, 211, 180, 0.95);
        border-radius: 37px;
        flex-direction: column;
        align-items: baseline;
        position: fixed;
        justify-content: start;
        right: 0;
        top: 0;
        min-width: 200px;
        height: 100vh;
        transform: translate(100%, 75px);
        transition: transform .6s, box-shadow .6s;
    }

    body.menu-open .main-nav ul {
        transform: translate(0, 75px);
        box-shadow: -10px 0px 13px rgb(0 0 0 / 16%);
    }

    .nav-content li {
        display: block;
        padding: 1.5rem 1.6rem;
        font-size: 1.2em;
        text-align: center;
        width: 100%;
        border-bottom: .5px solid rgb(85, 84, 84, 0.9);
    }

    /* Editor */

    .editor {
        flex-direction: column;
        align-items: center;
    }

    .canvas-container {
        width: 300px;
        height: 300px;
    }

    .canvas {
        margin-top: 0px;
    }

    .control-box {
        margin-top: 25px;
        width: 350px;
        height: 350px;
        padding: 10px 10px;
    }

    .control-box .text-line {
        height: 35px;
        box-shadow: 1px 3px 0 #a6aaaf, inset 0 5px 0 #ffffff;
        font-size: 1.2rem;
    }

    .line-control-btns {
        width: 300px;
        margin: auto;
        padding-top: 10px;
    }

    .line-design-btns {
        width: 100%;
        padding: 5px;
    }

    .btn, .color-input {
        width: 50px;
        height: 47px;
    }

    .search-container {
        width: 100%;
    }

    /* Gallery */

    .gallery {
        padding: 15px;
        margin-inline: 10px;
    }

    .gallery-container {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
    }

    .gallery-container img {
        height: 150px;
        object-fit: cover;
        border-radius: 20px;
        box-shadow: 0px 2px 15px 5px #ffffff;
        cursor: pointer;
    }

}


/* Small */
@media (min-width:740px) {
    .main-layout {
        max-width: 730px;
        margin: auto;
    }

    .main-nav {
        padding-inline: 30px;
    }

    .btn-menu, .btn-close-menu {
        display: none;
    }

    /* Editor */

    .canvas-container {
        display: flex;
        align-self: center;
        width: 370px;
        height: 370px;
    }

    .control-box {
        width: 350px;
        height: 400px;
        padding: 20px 20px;
    }

    .control-box .text-line{
        height: 40px;
    }

    .line-design-btns {
        width: 100%;
        margin-right: 0;
        height: 150px;
        border-radius: 15px;
        background-color: rgb(228, 171, 171);
        padding: 10px;
    }

}



/* Medium */

@media (min-width:920px) {
    .main-layout {
        max-width: 900px;
        margin: auto;
    }

    .main-nav {
        padding-inline: 30px;
    }


    /* Editor */

    .canvas-container {
        width: 420px;
        height: 420px;
    }

    .control-box {
        width: 420px;
        height: 420px;
        padding: 25px 40px;
    }

    .line-design-btns {
        width: 100%;
        height: 150px;
        border-radius: 15px;
        background-color: rgb(228, 171, 171);
        padding: 10px;
    }

}


/* Desktop */

@media (min-width: 1260px) {
    .main-layout {
        max-width: 1200px;
    }

    .canvas-container {
        width: 500px;
        height: 500px;
    }

    .control-box {
        width: 500px;
        height: 500px;
        padding: 25px 40px;
    }
}