@font-face{
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face{
    font-family: poppins-bold;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face{
    font-family: impact;
    src: url(../fonts/impact/impact.ttf);
}